<figure class="border-start border-3 ps-3">
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    You</cite>
  </figcaption>
</figure>

<figure class="answer border-start border-3 ps-3">
  <blockquote class="blockquote">
    <p><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Your coach</cite>
  </figcaption>
</figure>

<%= link_to "Ask a new question", ask_path %>
