<p>Ask your coach anything:</p>
<form class="d-flex" action="/answer" data-turbo="false">
  <input type="text" class="form-control me-2" aria-label="Your question" aria-describedby="button" name="question">
  <button type="submit" class="btn btn-primary" id="button">Ask!</button>
</form>
